if SHIELD_CHOCO50_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Choco50"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHOCO50_LEFT || SHIELD_CHOCO50_RIGHT

config ZMK_SPLIT
    default y

endif
